
.DS_Store
src/bin/Debug/netstandard2.0/
src/Folder.DotSettings.user
unity/UltraAchievementsRevamped.Unity/Assets/ULTRAKILL Prefabs.meta
unity/UltraAchievementsRevamped.Unity/Assets/NavMeshComponents.meta
unity/UltraAchievementsRevamped.Unity/Assets/Core/BuiltInResources/Sprites-Default.asset.meta
unity/UltraAchievementsRevamped.Unity/Assets/Core/BuiltInResources/Sprites-Default.asset
unity/UltraAchievementsRevamped.Unity/Assets/Core/BuiltInResources/Default-Material.asset.meta
unity/UltraAchievementsRevamped.Unity/Assets/Core/BuiltInResources/Default-Material.asset
unity/UltraAchievementsRevamped.Unity/Assets/Core/BuiltInResources.meta
unity/UltraAchievementsRevamped.Unity/Assets/Core.meta
unity/UltraAchievementsRevamped.Unity/Assets/Common.meta
unity/UltraAchievementsRevamped.Unity/Assets/_lib/ULTRACRYPT.dll.meta
unity/UltraAchievementsRevamped.Unity/Assets/_lib/ULTRACRYPT.dll
unity/UltraAchievementsRevamped.Unity/Assets/_lib/Newtonsoft.Json.dll.meta
unity/UltraAchievementsRevamped.Unity/Assets/_lib/Newtonsoft.Json.dll
unity/UltraAchievementsRevamped.Unity/Assets/_lib/_UK.meta
unity/UltraAchievementsRevamped.Unity/Assets/_lib/_UK
unity/UltraAchievementsRevamped.Unity/Assets/Common
unity/UltraAchievementsRevamped.Unity/Assets/NavMeshComponents
unity/UltraAchievementsRevamped.Unity/Assets/ULTRAKILL Prefabs